@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&display=swap');

body {
    font-family: 'JetBrains Mono', monospace;
    background-image: url(../images/mother-board-5431664_1920.jpg);
    color: white;
}

a:link {
    text-decoration: none;
}

header *{
    display: inline-block;
}

header img {
    position: relative;
    margin-top: 5px;
    width: 90px;
    float: left;
}

header div {
    position: relative;
    margin-left: 80px;
}

header p {
    margin-top: 40px;
    font-size: 30px;
    margin-left: 10px;
}

header nav {
    float: right;
    margin-top: 20px;
    margin-right: 80px;
    position: relative;
}

main {
    position: relative;
    top: 100px;
    margin-left: 80px;
}

mark {
    background-color: white;
}

.teste {
    background-color: aquamarine;
}

footer {
    margin-top: 290px;
    margin-left: 80px;
}